<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
       android:name=".AnalyticsApplication"
        android:allowBackup="false"
        >
        <meta-data android:name="com.webengage.sdk.android.environment" android:value="us" />
    </application>
</manifest>